*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

#root{
  background-color: #23252C;
  padding: 0.4rem;
}

.container{
  background-color: #1A1B21;
  width: 35%;
  margin: auto;
  border-radius: 1rem;
  overflow: hidden;
}

.details > h1{
  margin-top: 1rem;
}

.details > p{
  color: #F3BF99;
}

.detail--website{
  margin: 0.75rem 0;
}

.email-btn{
  color: #1E1F26;
  width: 70%;
  margin: auto;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.info{
  width: 70%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info > div > *{
  text-align: left;
}

.footer{
  margin-top: 1.5rem;
  background-color: #161619;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer > img{
  width: 40px;
  height: 40px;
}